/*------------------------index.html----------------------------*/ 
html, body {
    height: 100%;
  }

* {
  box-sizing: border-box;
}
      
/*Your name box*/
#namebox {
    background-color: #4aaaa5;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-right: 12px;
    padding-left:12px;
    font-family: Georgia, Times, "Times New Roman", serif;
    font-size: 20px;
    color: white;
    text-align: center;
    font-weight: bold;
  }
  
/* Style the top navigation bar */

#nav {
  background-color: #ffffff;
  border-bottom: 2px solid;
  border-bottom-color: #cccccc;
  padding: 6px 0px;
}

.navlinks {
  color: #8f8f8f;
  font-size: 14px;
  text-decoration: none;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

#about {
  text-align: right;
} 

#portfolio {
  text-align: center;
} 

#contact {
  text-align: left;
} 

/*Title for Body Containers*/
.boxheader {
  font-family: Georgia, Times, "Times New Roman", serif;
  font-weight: bold;
  font-size: 20px;
  border-bottom: 2px solid;
  border-bottom-color: #cccccc;
  color:#4aaaa5;
  margin-bottom: 15px;
  padding-bottom: 15px;
  padding-top: 15px;
}

/*MyPic Styling*/
  #mypic {
    max-width: 230px;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
        
/*Body Font*/
  #biotext{
    color: #777777;
    font-family: "Helvetica Neue", sans-serif;
    line-height: 25px;
  }

/* Style the content */
  .content {
    background-color: #ffffff;
    padding: 10px;
    border-color: #dddddd;
    border: 4px;
    min-width: 300px;
 }
        
/* Style the footer */
.footer {
    background-color: #666666;
    padding: 16px 0px;
    flex-shrink: 0;
    text-align: center;
    font-size: 10px;
    color: white;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    border-top: 8px solid #4aaaa5;
 }

 /*----------------------------Contact.HTML---------------------------------*/

/* Name & Email Box*/
 input[type=text] {
    width: 100%;
    height: 20px;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid #dddddd;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    color: #777777
  }

/*Label Styling*/
label {
  color: #777777;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 14px;
  }

/* Message Box Styling*/
textarea {
    width: 100%;
    height: 150px;
    padding: 12px 20px;
    margin-top: 8px;
    box-sizing: border-box;
    border: 2px solid #dddddd;
    border-radius: 4px;
    background-color: #ffffff;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    color: #777777;
    resize: none;
  }

/*Contact Submit Button*/
.button {
  padding: 10px 25px 10px 25px;
  background-color: #4aaaa5;
  color: white;
  text-align: center;
  font-weight: bold;
  border: none;
  margin: 10px;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  position: relative;
  right: 1%;
}


 /*----------------------------Portfolio.HTML---------------------------------*/

/*portpic Styling*/
.pic1 {
  max-width: 310px;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.portpic{
  position: absolute;
  bottom: 4px;
  right: 0px;
  background-color: #4aaaa5;
  color: white;
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 18px;
  text-align: center;
}

.pic2 {
  max-width: 500px;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;